pkgbase = openhue-cli
	pkgdesc = CLI for interacting with Philips Hue smart lighting systems
	pkgver = 0.22.1
	pkgrel = 1
	url = https://www.openhue.io/cli/openhue-cli
	arch = x86_64
	license = Apache-2.0
	makedepends = go
	provides = openhue
	source = https://github.com/openhue/openhue-cli/archive/refs/tags/0.22.1.tar.gz
	sha256sums = fb565545dde82ea1a4e5e227259a7a14d66e228f317497c13908d807c6635a84

pkgname = openhue-cli
