pkgbase = openhue-cli
	pkgdesc = CLI for interacting with Philips Hue smart lighting systems
	pkgver = 0.23
	pkgrel = 1
	url = https://www.openhue.io/cli/openhue-cli
	arch = x86_64
	license = Apache-2.0
	makedepends = go
	provides = openhue
	source = https://github.com/openhue/openhue-cli/archive/refs/tags/0.23.tar.gz
	sha256sums = 9f21640f4a95ddb0b07e46102c8dcb1abc1f835fead59cb906d107de81b5b08b

pkgname = openhue-cli
